
g
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID
.cache-main
.cache-tests
.g8/
public/

#Angular
# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

